 <div id="loginForm" class="col-sm-8">
        <h2>Iniciar sesión</h2>
        <form id="loginform" method="post" action="/api/login">
            <div class="form-group">
                <label for="precio">Email:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="img">password:</label>
                <input type="password" class="form-control" name="password" id="passw">
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
        <br>
    </div>