
    <div id="userForm" class="col-sm-8">
        <h2>Registrar usuario</h2>
        <form id="registerForm" method="post" action="/api/register">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" name="nombre" id="titleInput">
            </div>
            <div class="form-group">
                <label for="precio">Email:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="img">password:</label>
                <input type="password" class="form-control" name="password" id="passw">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" name="edad" id="edad">
            </div>
             <div class="form-group">
                <label for="edad">Dirección:</label>
                <input type="text" class="form-control" name="direccion" id="direccion">
            </div>
             <div class="form-group">
                <label for="edad">Foto perfil:</label>
                <input type="file" class="form-control" name="foto" id="foto">
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
        <br>
    </div>